#App {
    text-align: center;
    background-color: white;
    height: 100vh;
}

#App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#Main-App {
    /* background-color: white; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
}

.App-Module {
    /* border: 1px solid black; */
    margin: 10px 0px 10px 0px;
    min-width: 100%;
}

.Module-Header {
    border: 1px solid black;
    background-color: white;
    color: black;
    width: 100%;
    /*  custom gradient */
    /* from https://www.cssmatic.com */
    background: #f2f6f8;
    background: -moz-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 43%,
        #d8e1e7 43%,
        #b5c6d0 77%,
        #e0eff9 100%
    );
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, #f2f6f8),
        color-stop(43%, #d8e1e7),
        color-stop(43%, #d8e1e7),
        color-stop(77%, #b5c6d0),
        color-stop(100%, #e0eff9)
    );
    background: -webkit-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 43%,
        #d8e1e7 43%,
        #b5c6d0 77%,
        #e0eff9 100%
    );
    background: -o-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 43%,
        #d8e1e7 43%,
        #b5c6d0 77%,
        #e0eff9 100%
    );
    background: -ms-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 43%,
        #d8e1e7 43%,
        #b5c6d0 77%,
        #e0eff9 100%
    );
    background: linear-gradient(
        to bottom,
        #f2f6f8 0%,
        #d8e1e7 43%,
        #d8e1e7 43%,
        #b5c6d0 77%,
        #e0eff9 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

.Module-Body {
    color: black;
    background-color: white;
    padding: 0.5em;
    margin: 0em 0.5em 0.5em 0.5em;
    border: 1px solid #282c34;
    /*  custom gradient */
    /* from https://www.cssmatic.com */
    background: #f2f6f8;
    background: -moz-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 73%,
        #b5c6d0 92%,
        #e0eff9 100%
    );
    background: -webkit-gradient(
        left top,
        left bottom,
        color-stop(0%, #f2f6f8),
        color-stop(73%, #d8e1e7),
        color-stop(92%, #b5c6d0),
        color-stop(100%, #e0eff9)
    );
    background: -webkit-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 73%,
        #b5c6d0 92%,
        #e0eff9 100%
    );
    background: -o-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 73%,
        #b5c6d0 92%,
        #e0eff9 100%
    );
    background: -ms-linear-gradient(
        top,
        #f2f6f8 0%,
        #d8e1e7 73%,
        #b5c6d0 92%,
        #e0eff9 100%
    );
    background: linear-gradient(
        to bottom,
        #f2f6f8 0%,
        #d8e1e7 73%,
        #b5c6d0 92%,
        #e0eff9 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

.hide {
    display: none;
}

input {
    text-align: center;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

img.arrow {
    width: 1em;
    height: 1em;
}

img.settingsBtn {
    width: 1em;
    height: 1em;
    margin-left: 1em;
    cursor: pointer;
}

/*
  React Modal
*/

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.optionsMenu {
    background-color: #282c34;
    color: black;
    width: 90%;
    max-width: 550px;
    padding: 1rem;
    text-align: center;
}

.moduleBtn {
    margin: 0.1em;
}
